.text-layanan {
    margin-top: 200px;
}

.ilustration {
    height: 100px;
}

.ilustration img {
    height: 100%;
}

.title p {
    font-size: .8rem;
}

#card-layanan .card{
    height: 228px;
}

#card-layanan .card:hover{
    box-shadow: 2px 2px 20px rgb(48, 48, 48, .1);
    transition: ease-in-out .3s;
}