th {
    font-size: .85rem;
    font-weight: 600;
    padding: 10px !important;
}

td {
    font-size: .85rem;
    font-weight: 400;
    padding: 10px !important;
}

.fixed-table-container {
    overflow-x: auto;
}

.fixed-table {
    table-layout: fixed;
    width: 100%;
}

.fixed-table th, .fixed-table td {
    word-wrap: break-word;
}

.col-no {
    width: 50px;
}

.col-aksi {
    width: 100px;
}

/* .col-nopel {
    width: 170px;
} */

@media (max-width: 768px) {
    .custom-entries {
        width: 20% !important;
    }

    .col-nopel {
        width: 150px;
    }

    .col-tanggal {
        width: 150px;
    }

    .col-status {
        width: 150px;
    }
}

/* .col-nopel {
    width: 150px;
}

.col-tanggal {
    width: 150px;
}

.col-status {
    width: 150px;
} */

/* .col-tanggal {
    width: 148px;
}

.col-noinfo {
    width: 120px;
}

.col-nik {
    width: 150px;
} */

.col-cek {
    width: 40px;
}

